@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

.background-card {
  position: absolute;
  top: 1rem;      /* 16px padding from top */
  left: 1rem;     /* 16px padding left */
  right: 1rem;    /* 16px padding right */
  bottom: 1rem;   /* 16px padding bottom */
  background-color: #f3f4f6;  /* Tailwind’s bg-gray-100 hex (#f3f4f6) */
  border-radius: 1rem;        /* rounded-2xl approx. */
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05); /* shadow-lg */
  z-index: -10;
  padding: 2rem;
  /* 32px padding */
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-type: start;
}

body {
  background: #171717;
  color: #ededed;
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
}

.bg-hero-pattern {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 10s0 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c9c9c9' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@font-face {
  font-family: 'Playwrite US Trad';
  src: url('/PlaywriteUSTrad-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.playwrite-us-trad {
  font-family: 'Playwrite US Trad', serif;
}

.redacted-script {
  font-family: 'Redacted Script', cursive !important;
}

